<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head.ejs') %>
    <title>Search Results</title>
  </head>
<body>
  
  <%- include('../../layout/header.ejs') %>

  <h1>Search Results</h1>

  <main>
    <div class="results">
      <% searchResults.forEach( book => { %>
        <img src="<%=book.thumbnail %>">
        <h2 id="test"><%= book.title %></h2>
        <h3><%= book.authors %></h3>
        <p><%= book.description %></p>

        <form id="create-form" action="/add" method="post">
          <fieldset>
            <!-- took type hidden off -->
            <input  name="title" value="<%= book.title %>">
            <input  name="authors" value="<%= book.author %>">
            <input  name="description" value="<%= book.description %>">
            <input  name="image_url" value="<%= book.thumbnail %>">
            <input  name="isbn" value="<%= book.isbn%>">
            <button type="submit">Add To Favorites</button>
          </fieldset>
        </form>
      <% }) %>

    </div>

  </main>
  
  <%- include('../../layout/footer.ejs') %>

</body>
</html>