<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %>
  <title>Reading is Cool</title>
</head>
<body>
  
  <%- include('../layout/header.ejs') %>
  
  <h1>Hello Reader</h1>

  <main>

    <p>Total books in Library: <%= book.length %></p>
    <% book.forEach(bookItem => { %>
    <%- include('books/detail.ejs', {book: bookItem}) %>
    <a class ="detailslink" href="/books/detail/<%= bookItem.id %>">Click Here for More Details</a>
    <% }) %>

  </main>

  <%- include('../layout/footer.ejs') %>
  
</body>
</html>