<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/base.css">
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
  <link rel="stylesheet" type="text/css" href="styles/modules.css">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/searches/new">New Search</a>
      <a href="/searches/show">Show Results</a>
    </nav>
  </header>

  <h1>Hello Reader</h1>

  <main>
    <% book.forEach(bookItem => { %>
    <%- include('books/detail.ejs', {book: bookItem}) %>
    <a href="/books/detail/<%= bookItem.id %>">Click Here for More Details</a>
    <% }) %>
    <section>
      <ul>
        <li>
          Total books in Library: <%= book.length %>
        </li>
        <% book.forEach(bookItem => { %>
          <li class="book-item" data-id="<%=bookItem.id %>">
            <img src="<%= bookItem.image_url %>" alt="<%= bookItem.title %>" style="max-height: 400px; width: 300px;">
            <h2>Title:  <%= bookItem.title %></h2>
            <h4>Author:  <%= bookItem.author %></h4>
            <a href="/books/detail/<%= bookItem.id %>">Click Here for More Details</a>
          </li>
        <% }) %>
      </ul>
    </section>

  </main>
  
</body>
</html>