
  <fieldset>
    <input name="title" value="<%= book.title %>" placeholder="Title">
    <input name="authors" value="<%= book.authors %>" placeholder="Author">
    <input name="description" value="<%= book.description %>" placeholder="Description">
    <input name="image_url" value="<%= book.thumbnail %>">
    <input name="isbn" value="<%= book.isbn %>" placeholder="ISBN">
    <input name="bookshelf" value="<%= book.bookshelf %>" placeholder="Bookshelf ID">
  </fieldset>



<!-- <fieldset>
  <input type="hidden" name="title" value="<%= book.title %>">
  <input type="hidden" name="authors" value="<%= book.authors %>">
  <input type="hidden" name="description" value="<%= book.description %>">
  <input type="hidden" name="image_url" value="<%= book.thumbnail %>">
  <input type="hidden" name="isbn" value="<%= book.isbn%>">
  <button type="submit">Add To Favorites</button>
</fieldset> -->