
  <fieldset>
    <input name="title" value="<%= book.title %>">
    <input name="authors" value="<%= book.author %>">
    <input name="description" value="<%= book.description %>">
    <input name="isbn" value="<%= book.isbn%>">
    <input name="bookshelf" value="<%= book.bookshelf%>">
    <button type="submit">Update Book Details</button>
  </fieldset>



<!-- <fieldset>
  <input type="hidden" name="title" value="<%= book.title %>">
  <input type="hidden" name="authors" value="<%= book.author %>">
  <input type="hidden" name="description" value="<%= book.description %>">
  <input type="hidden" name="image_url" value="<%= book.thumbnail %>">
  <input type="hidden" name="isbn" value="<%= book.isbn%>">
  <button type="submit">Add To Favorites</button>
</fieldset> -->